{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "printWidth": 80,
  "singleQuote": true,
  "semi": false
}
