{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "printWidth": 110,
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": true
}
