/*
  Animations
*/
@keyframes slideBoxRight {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes revealBoxRight {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes slideright {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 70%;
  }
}

@keyframes bgAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearBackgroundLetters {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes moveBtnRight {
  from {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(-15px, -10px);
    opacity: 1;
  }
}

@keyframes moveBtnLeft {
  from {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  to {
    transform: translate(15px, -10px);
    opacity: 1;
  }
}

@keyframes appearSquare {
  from {
    opacity: 1;
    transform: translate(-12px, 13px);
  }
  to {
    opacity: 0;
    transform: translate(0px, 0px);
  }
}

@keyframes hideSquare {
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes appearBorder {
  from {
    border: 3px solid darken($color: $principal, $amount: 20);
  }
  to {
    border: 3px solid darken($color: $secondaryAccent, $amount: 20);
  }
}
