/*
  Colors
 */
$principal: #000814;
$accent: #3bffbe;
$secondaryAccent: #ff44b1;
$thirdAccent: #ffe75f;
$gold: #fedc24;


:root {
  --gradient: linear-gradient(
   45deg,
   #05132b,
   #14294e,
   #2e68d4,
   #845ec2,
   #d65db1,
   #831c64,
   #ff6f91,
   #ff9671,
   #ffe75f,
   #92ff5f
  );
}
