/*
  Colors
 */
// $mainColor: #1111d8;
$principal: #3b0a76;
$hotpink: #ff44b1;
$gold: #fedc24;

/*
  Animations
*/
@keyframes slideBoxRight {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes revealBoxRight {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes slideright {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 70%;
  }
}

/*
  Fonts
 */
@font-face {
  font-family: "Cy";
  src: url("../assets/fonts/Cy/Cy-Regular.otf");
}
@font-face {
  font-family: "Cy Extra Bold";
  src: url("../assets/fonts/Cy/Cy-ExtraBold.otf");
}
@font-face {
  font-family: "Consolas";
  src: url("../assets/fonts/Consolas.ttf");
}

body {
  overflow: hidden;
}

.dev {
  // border: 1px solid tomato;
}

.opacity-0 {
  opacity: 0;
}

.icon {
  font-size: 22px;
  color: black;
}

.react {
  color: #00d8ff;
}
.vue {
  color: #55e7a6;
}
.heart {
  color: red;
}

.title--cursive {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 300;
}

.title--enfasis {
  color: white;
  font-family: "Cy Extra Bold";
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 30%;
    background-color: #00ffee;

    animation-name: slideright;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
}
