/*
  Global Styles
*/

:root {
  --gradient: linear-gradient(
   45deg,
   #05132b,
   #14294e,
   #2e68d4,
   #845ec2,
   #d65db1,
   #831c64,
   #ff6f91,
   #ff9671,
   #ffe75f,
   #92ff5f
  );
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

.nuxt-link-exact-active {
  color: #3bffbe;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: #000000;
}

::-webkit-scrollbar-thumb:vertical {
  height: 20px;
  background-color: #20aa8c;
}

